form.addNoteForm {
    border: solid 1px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    text-align: center;
}

.addNoteInputContainer {
    display: flex;
    flex-direction: column;
}

.addNoteInput {
    align-self: flex-end;
    margin: 0.2em 0 0;
}

.addNoteButtonGroup {
    margin: 1em 0 0;
}

.addNoteButton {
    margin: 0.25em;
}